- extends 'base.html'

- load pages_tags


- block content
    %div
        - tree_navigation as menu
        = menu
    %h1
        = page.title
    %p
        = page.body
    %div
        - block plugin
