- extends extend_template_name


- block plugin
    %h2
        = plugin.name
    - if plugin.category
        %ul
            - for category in plugin.category.all
                %li
                    %a{href: '{% url "category_view" page.url category.slug %}'}
                        = category.name
