- load mptt_tags


%ul
    - recursetree available_pages
        %li
            - if node in parents_page
                *
            %a{href: '{% if node.is_home %}{% url "page_home" %}{% else %}{% url "page_view" node.url %}{% endif %}'}
                = node.title
            - if not node.is_leaf_node
                %ul
                    = children
    - endrecursetree
