!!! 5
%html{lang: '{{ LANGUAGE_CODE|default:"ru-RU" }}'}

%head
    %meta{charset: 'UTF-8'}
    %title
        - block head_title
    - block style
    - block scripts

%body
    - block content
    - block extra_scripts
